img[alt="navigate_to_editor"] { width: 200px; height: auto; }
img[alt="create_folder"] { width: 350px; height: auto; }
img[alt="create_process"] { width: 835px; height: auto; }
img[alt="Editor_overview_final"] { width: 835px; height: auto; }
img[alt="modify_start_event"] { width: 375px; height: auto; }
img[alt="name_start_element"] { width: 250px; height: auto; }
img[alt="append_task"] { width: 350px; height: auto; }
img[alt="modify_task"] { width: 550px; height: auto; }
img[alt="left_toolbar_data_store_reference"] { width: 250px; height: auto; }
img[alt="connect_elements"] { width: 550px; height: auto; }
img[alt="append_gateway"] { width: 550px; height: auto; }
img[alt="name_connections"] { width: 450px; height: auto; }
img[alt="add_production_and_procurement"] { width: 650px; height: auto; }
img[alt="add_parallel_gate"] { width: 450px; height: auto; }
img[alt="complete_parallel_gate"] { width: 550px; height: auto; }
img[alt="open_properties_panel"] { width: 550px; height: auto; }
img[alt="set_duration"] { width: 850px; height: auto; }
img[alt="set_custom_property_assignedTo"] { width: 850px; height: auto; }
img[alt="set_custom_property_syncType"] { width: 850px; height: auto; }
img[alt="add_milestone"] { width: 850px; height: auto; }
img[alt="add_text_annotation_for_milestone"] { width: 350px; height: auto; }
img[alt="add_end_event_for_yes_fork"] { width: 350px; height: auto; }
img[alt="interim_result"] { width: 850px; height: auto; }
img[alt="create_pool"] { width: 200px; height: auto; }
img[alt="dividing_line"] { width: 350px; height: auto; }
img[alt="naming_participants"] { width: 500px; height: auto; }
img[alt="make_procurement_sub-process"] { width: 500px; height: auto; }
img[alt="open_subprocess"] { width: 500px; height: auto; }
img[alt="back_to_parent"] { width: 300px; height: auto; }
img[alt="create_boundary_event"] { width: 350px; height: auto; }
img[alt="drag_event_to_task"] { width: 350px; height: auto; }
img[alt="modify_to_error_boundary_event"] { width: 500px; height: auto; }
img[alt="add_escalation_boundary_non-interrupting"] { width: 750px; height: auto; }
img[alt="cancel_order"] { width: 550px; height: auto; }
img[alt="late_delivery"] { width: 550px; height: auto; }
img[alt="xor_merge_gateway"] { width: 500px; height: auto; }
img[alt="merge_procurement"] { width: 500px; height: auto; }
img[alt="final_result"] { width: 850px; height: auto; }